*{
    margin: 0;
    padding: 0;
    font-family :sans-serif;

}

body{
    background-color: #3BD16F;
}

header{
    height: 60px;
    border-bottom: 3px solid #74E39A;
    position: sticky;
    margin: 0px;
}

.heads{
    display: flex;
    position: absolute;
    left: 80px;
    top: 12px;
}

.head1{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
}

.head2{
    text-decoration: none;
    color:aliceblue;
    font-weight: bold;
    font-size: 28px;
}

nav a{
    text-decoration: none;
    color: #00691F;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 40px;
}

.nav{
    display: flex;
    position: absolute;
    left: 1000px;
}

.circles{
display: inline-block;
}

.circle1{
    width: 500px;
    height: 500px;
    background-color: #74E39A;
    position: absolute;
    left: 140px;
    top: 160px;
    border-radius: 100%;
    box-shadow: 0px 6px 50px 0px black;
}

.circle2{
    width: 450px;
    height: 450px;
    background-color: #D9D9D9;
    position: absolute;
    left: 165px;
    top: 185px;
    border-radius: 100%;
}

img{
    width: 380px;
    height: 380px;
    position: absolute;
    left: 200px;
    top: 220px;
}

.heads2{
    display: inline-block;
    text-shadow: 2px black;
    box-shadow: 1px 1px 20px;
}

#h1{
    display: inline-block;
    font-weight: 800;
    color: white;
    letter-spacing: 4px;
    font-size: 50px;
    position: absolute;
    left: 700px;
    top: 230px;
}

#h2{
    display: inline-block;
    font-weight: 800;
    color: white;
    letter-spacing: 4px;
    font-size: 50px;
    position: absolute;
    left: 780px;
    top: 300px;
}

#b1{
    height: 56px;
    width: 200px;
    border: 2px solid white;
    background-color: #000000;
    color: white;
    border-radius: 50px;
    font-weight: 800;
    font-size: 16px;
    position: absolute;
    left: 830px;
    top: 400px;
    box-shadow: 0px 8px 50px 0px black;
}

#b2{
    height: 56px;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    font-weight: 800;
    font-size: 16px;
    position: absolute;
    left: 1060px;
    top: 400px;
    box-shadow: 0px 8px 50px 0px black;
}

#b3{
    height: 56px;
    width: 400px;
    border: 0px solid rgb(0, 0, 0);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    font-weight: 800;
    font-size: 16px;
    position: absolute;
    left: 846px;
    top: 480px;
    box-shadow: 0px 8px 50px 0px black;
}

#Scroll{
    text-decoration: none;
    color: #00691F;
    font-weight: bold;
    font-size: 12px;
    padding: 20px 40px;
    position: absolute;
    left: 680px;
    top: 680px;
}

#chevron1{
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
    position: absolute;
    left: 744px;
    top: 720px;
}