/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}



*{
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #3acb6a;
}
.container{
    font-family: "Montserrat", sans-serif;
    background-color: #3acb6a;
    border-bottom : 2px solid #75df9c;
}

#head1{
    margin-left: 70px;
    margin-top: 15px;
    display: inline-block;
    font-weight: 800;
    text-shadow: black;
    
}

a{
    text-decoration: none;
    color: #016b1f;
    font-weight: 600;
    word-spacing: normal;
    padding: 20px;
    position: relative;
    left: 1150px;
    bottom: 26px;
}

.containe{
    height: 20px;
}

#net{
    display: inline-block;
    color: azure;
}

.circle1{
    width: 500px;
    height: 500px;
    background-color: #74e59b;
    position: relative;
    left: 160px;
    top: 90px;
    border-radius: 500px;
    display: inline-block;
}

.circle2{
    width: 450px;
    height: 450px;
    background-color: #d9d8d8;
    position: absolute;
    left: 185px;
    top: 195px;
    border-radius: 500px;
    display: inline-block;

}

img{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 210px;
    top: 220px;
}


.big{
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 150%;
    position: absolute;
    left: 760px;
    top: 240px;
    color: white;
}

#head2{
    margin-left: 40px;
    margin-top: 10px;

}

#b1{
    border: 1px solid white;
    width: 80px;
    height: 40px;
}

.buttons{
    display: none;
}
